
    <h1>Lista de Productos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            HOLA
        </tbody>
    </table>
